<h4>
  <p>
    Welcome to the movie app. This is the web application in which information about movies can be easily accessed.The application
    will be accessible for all employees within the clients network, authentication is not required.The information will
    be based on IMDB data provided by a publicly available OMDB API. Documentation can be found at
    <b>www.omdbapi.com</b>.The application has a menu to navigate between
    <b>Search</b> and
    <b>Feature</b> pages. The application can search movies by title.The application highlights predefined movies.

  </p>
</h4>
