<div *ngIf="movieName" class="animated fadeIn">
  <div class="movie-detail-card mdl-card mdl-shadow--2dp">
    <div class="card text-white bg-primary mb-3">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>
            <h1>
              <b>{{movieName.Title}}</b>
            </h1>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]='movieName?.Poster'>
      </mat-card>
    </div>
    <div class="movie-detail-container">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
          <div class="card text-white bg-primary mb-3" style="max-width: 250rem;">
            <div class="card-header"></div>
            <div class="card-body">
              <h1 class="card-title">Year :{{movieName?.Year}}</h1>
              <p class="card-text"></p>
            </div>
            <div class="card text-white bg-primary mb-3" style="max-width: 250rem;">
              <div class="card-header"></div>
              <div class="card-body">
                <h1 class="card-title">Rated :{{movieName?.Rated}}</h1>
                <p class="card-text"></p>
              </div>
              <div class="card text-white bg-primary mb-3" style="max-width: 250rem;">
                <div class="card-header"></div>
                <div class="card-body">
                  <h1 class="card-title">Released :{{movieName?.Released}}</h1>
                  <p class="card-text"></p>
                </div>
                <div class="card text-white bg-primary mb-3" style="max-width: 250rem;">
                  <div class="card-header"></div>
                  <div class="card-body">
                    <h1 class="card-title">Runtime :{{movieName?.Runtime}}</h1>
                    <p class="card-text"></p>
                  </div>
                  <div mat-dialog-content>
                      <mat-select [(ngModel)]=movieName.Genre>
                        <mat-option *ngFor="let emoji of movieName.Genre" [value]="emoji">
                          {{ emoji }}
                        </mat-option>
                      </mat-select>
                    </div>
                  <div class="card text-white bg-primary mb-3" style="max-width: 250rem;">
                    <div class="card-header"></div>
                    <div class="card-body">
                      <h1 class="card-title">Genre :{{movieName?.Genre}}</h1>
                      <p class="card-text"></p>
                    </div>
                    <div class="card text-white bg-primary mb-3" style="max-width: 250rem;">
                      <div class="card-header"></div>
                      <div class="card-body">
                        <h1 class="card-title">Director :{{movieName?.Director}}</h1>
                        <p class="card-text"></p>
                      </div>
                      <div class="card text-white bg-primary mb-3" style="max-width: 250rem;">
                        <div class="card-header"></div>
                        <div class="card-body">
                          <h1 class="card-title">Writer :{{movieName?.Writer}}</h1>
                          <p class="card-text"></p>
                        </div>
                        <div class="card text-white bg-primary mb-3" style="max-width: 250rem;">
                          <div class="card-header"></div>
                          <div class="card-body">
                            <h1 class="card-title">Actors :{{movieName?.Actors}}</h1>
                            <p class="card-text"></p>
                          </div>
                          <div class="card text-white bg-primary mb-3" style="max-width: 250rem;">
                            <div class="card-header"></div>
                            <div class="card-body">
                              <h1 class="card-title">Plot :{{movieName?.Plot}}</h1>
                              <p class="card-text"></p>
                            </div>
                            <div class="card text-white bg-primary mb-3" style="max-width: 250rem;">
                              <div class="card-header"></div>
                              <div class="card-body">
                                <h1 class="card-title">Language :{{movieName?.Language}}</h1>
                                <p class="card-text"></p>
                              </div>


                              <div class="card text-white bg-primary mb-3" style="max-width: 250rem;">
                                <div class="card-header"></div>
                                <div class="card-body">
                                  <h1 class="card-title">Awards :{{movieName?.Awards}}</h1>
                                  <p class="card-text"></p>
                                </div>

                                <dl>
                                  <h1>
                                    <p>
                                      <b>Movie Sources:</b>
                                    </p>
                                    <div *ngFor="let source of movieName.Ratings" layout-align="center center" style="height: 5vh">
                                      <ul>
                                        <li>
                                          <span>
                                            <h4>
                                              <p>{{source.Source}}</p>
                                            </h4>
                                          </span>

                                        </li>
                                      </ul>

                                    </div>
                                  </h1>
                                </dl>
                                <dl>
                                  <h1>
                                    <p>
                                      <b>Movie Values:</b>
                                    </p>
                                    <div *ngFor="let value of movieName.Ratings" layout-align="center center" style="height: 5vh">
                                      <ul>
                                        <li>
                                          <span>
                                            <h4>
                                              <p>{{value.Value}}</p>
                                            </h4>
                                          </span>

                                        </li>
                                      </ul>

                                    </div>
                                  </h1>
                                </dl>

                                <div class="card text-white bg-primary mb-3" style="max-width: 250rem;">
                                  <div class="card-header"></div>
                                  <div class="card-body">
                                    <h1 class="card-title">IMDB Rating :{{movieName?.imdbRating}}</h1>
                                    <p class="card-text"></p>
                                  </div>
                                  <div class="card text-white bg-primary mb-3" style="max-width: 250rem;">
                                    <div class="card-header"></div>
                                    <div class="card-body">
                                      <h1 class="card-title">IMDB Votes :{{movieName?.imdbVotes}}</h1>
                                      <p class="card-text"></p>
                                    </div>
                                    <div class="card text-white bg-primary mb-3" style="max-width: 250rem;">
                                      <div class="card-header"></div>
                                      <div class="card-body">
                                        <h1 class="card-title">Type :{{movieName?.Type}}</h1>
                                        <p class="card-text"></p>
                                      </div>

                                    </div>
                                  </div>
                                </div>

                                

                              </div>
                              
                            </div>
                           